/* ----------Variables----------- */
:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navyblue: #2e2f42;
    --cloud: #f4f4fd;
    --slate: #434455;
    --white: #FFF;
    --green: #31d0aa;
    --lightslate: #8E8F99;
    --cornflower: #e7e9fc;

}
/* -------------Body----------------- */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--slate);
    font-size: 16px;

    background-color: var(--white);
}
.container {
    width: 100%;
    max-width: 1158px; 
    padding-left: 15px; 
    padding-right: 15px; 
    margin: 0 auto;
    align-items: center;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.title {
    padding-bottom: 72px;
}
/* ---------reset start----------- */
.link {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    margin: 0;
    padding: 0;

}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* ---------reset end------------- */
/* -----------Header------------ */
.header {
    
    border-bottom: 1px solid var(--cornflower);
}
.header-logo{
    color: var(--iris, #4d5ae5);
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;

}

.logo {
    color: var(--navyblue, #2e2f42);
}

.list{
    list-style: none;
    padding-left: 0;
}
.nav-list {
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
}
.header-list {
    display: flex;
    gap: 40px;
}

.header-nav-link {
    color: var(--navyblue, #2E2F42);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    display: inline-block;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--ocean, #404bbf);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.header-contacts {
    font-style: normal;
    margin-left: auto;
}
.contacts-list {
    display: flex;
    gap:40px;
    
}
.contacts-link {
    color: var(--slate, #434455);
        font-size: 16px;

        line-height: 1.5;
        letter-spacing: 0.02em;
}
.contacts-link:hover,
.contacts-link:focus {
color: var(--ocean, #404bbf);
}


/* ------------Hero------------- */
.hero {
    background: var(--navyblue, #2E2F42);
    padding-top: 188px;
    padding-bottom: 188px;

}


.hero-title {
    color: var(--white, #FFF);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;   
}

.hero-button {
    color: var(--white, #FFF);
    background: var(--iris, #4D5AE5);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--ocean, #404BBF);
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
}
/* -----------Advantages----------------- */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.advantages-list {
    display: flex;
    gap: 24px;
    align-items: center;
    flex-shrink: 0;
    
}
.advantages-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: calc((100% - 72px) / 4);
}
.advantages-subtitle {
    color: var(--navyblue, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.advantages-desc {
    color: var(--slate, #434455);
        font-size: 16px;

        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* ------------Team------------------ */
.team {
    background-color: var(--cloud);
    padding: 120px 0;
}

.team-title {
    color: var(--navyblue, #2e2f42);
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-content {
    padding: 32px 0;
}

.team-name {
    color: var(--navyblue, #2e2f42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.team-desc {
    color: var(--slate, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
/* -------------Footer------------------ */
.footer {
    background-color: var(--navyblue, #2e2f42);
    padding-top: 100px;
    padding-bottom: 100px;

}
.footer-link {
    color: var(--iris, #4d5ae5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;

}

.footer-logo {
    color: var(--cloud, #f4f4fd);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;

}

.footer-text {
    color: var(--cloud, #f4f4fd);
    font-size: 16px;
    max-width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}
/* -----------Portfolio-------------- */

.portfolio-title {
        color: var(--navyblue, #2e2f42);
            font-size: 36px;
            font-weight: 700;
            line-height: 1.2;
            letter-spacing: 0.02em;
            margin-bottom: 72px;
            text-align: center;
}


.products-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.products-title {
    color: var(--navyblue, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.products-desc {
    color: var(--slate, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.products-item {

    width: calc((100% - 48px) / 3);
}

.product-content {

    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: 0;
}
